.todaysTop {
    position:static;
    width: 100vw;
    margin: 0 auto;
    padding:  0;
    padding-top: 20px;
    height: calc(100vh);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
.todaysTop::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../images/background.jpg") no-repeat, center center fixed;
    opacity: 0.4;
    background-size: cover;
    overflow: hidden;
}
.topdaysTop_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
}
.todaysTop_title {
    width: 100%;
    margin: auto;
}
.todaysTop_title > h3 {
    width: 100%;
    margin: auto;
    text-align: center;
}
.swiper-container {
    width: 85%;
    margin:0 auto;
    height: 50%;
}
.swiper-wrapper {
   width: 100%;
   margin:0 auto;
   padding-top: 10px;
   padding-bottom: 0;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
}
.swiper-slide h5 {
    margin: auto;
    text-align: center;
    font-size: 12pt;
}
.swiper-slide h6 {
    margin: auto;
    text-align: center;
    font-size: 10pt;
}
.slide {
    width: 100%;
    height: 80%
}
img {
  width: 100%;
  object-fit: fill;
}
.recharts-responsive-container {
    margin: 0 auto;
    font-size: 10pt;
    font-weight: bold;
}
.recharts-wrapper {
    padding-top: 35px;
}
.recharts-legend-wrapper {
    transform: translate(5px,0);
    font-weight: bold;
}
.recharts-legend-wrapper {
    font-size: 12pt;
}

